// This is the main styles for application

body
  margin: 0

#app
  height: 100vh
  width: 100vw

  & .message-placeholder
    height: 100%
    width: 100%
    display: flex
    align-items: center

    &__message
      font-size: 3em
      display: flex
      width: 100%
      justify-content: center
